MEDIA_SERVER_CONT_NAME=media-server
MEDIA_SERVER_IMG_NAME=media-server
HOST_EXT_IP=
MEDIA_SERVER_LOG_PATH_ROOT=/var/log/mediamtx
MEDIA_SERVER_CONF_PATH_ROOT=./mediamtx.yml
CAMERA_CONF_PATH_ROOT=./cam_conf